*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
:root {
      --bg-base:        #0b0713;
      --bg-nav:         #100c1c;
      --bg-card:        #16102a;
      --bg-card-hover:  #1e1635;
      --bg-hover:       #1a1230;

      --accent:         #8b3dff;
      --accent-bright:  #a855f7;
      --accent-glow:    rgba(139, 61, 255, 0.35);
      --accent-dim:     rgba(139, 61, 255, 0.12);

      --success:        #22c55e;
      --danger:         #ef4444;
      --warning:        #f59e0b;

      --text-primary:   #f0eaf8;
      --text-secondary: #9b87b8;
      --text-muted:     #4a3d63;
      --text-accent:    #c084fc;

      --border:         rgba(139, 61, 255, 0.18);
      --border-subtle:  rgba(255,255,255,0.05);

      --radius-sm:  8px;
      --radius-md:  14px;
      --radius-lg:  20px;
      --radius-xl:  28px;

      --shadow-card: 0 4px 32px rgba(0,0,0,0.5);
      --shadow-glow: 0 0 32px var(--accent-glow);

/* or maybe i will just put directly on the code, still thinking */
      --font-display: "Orbitron", sans-serif;
      --font-body:    "Inter", sans-serif;
    }
html{
  font-size: 16px;
}
body{
font-family: var(--font-body);
background-color: var(--bg-base);
color: var(--text-primary);
display: grid;
grid-template-columns: 260px 1fr;
min-height: 100vh;
overflow-x: hidden;
}

.sidebar{
  width: 260px;
  background: var(--bg-nav);
  border-right: 1px solid var(--border-subtle);
  display: flex;
  flex-direction: column;
  padding: 24px 16px;
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
}

.sidebar-logo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 8px 28px;
border-bottom: 1px solid var(--border-subtle);
margin-bottom: 24px;
}
.logo-sec{
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo{
  color: var(--accent);
}
.logo-title{
  font-family: var(--font-display);
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 0.04em;
  background: linear-gradient(135deg,#d8b4fe,#a855f7,#7c3aed);
  -webkit-background-clip: text;
  -webkit-text-fill-color:transparent;
}
.close{
  width: 34px;
  height: 34px;
  color: var(--text-muted);
 background: none;
 border: none;
 cursor: pointer; 
 transition: color 0.4s,background 0.4s;
}
.close:hover{
  color: var(--text-primary);
  background: var(--bg-hover);
  border-radius: 50%;
}
.nav-label{
font-size: 0.7rem;
font-weight: 600;
letter-spacing: 0.1em;
text-transform: uppercase;
color: var(--text-muted);
padding: 0 12px;
margin-bottom: 8px;
}
.nav-list{
   display: flex; 
   flex-direction: column; 
   gap: 2px;
}
.nav-link{
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 11px 14px;
  border-radius: var(--radius-md);
  color: var(--text-secondary);
  font-size: 0.8rem;
  font-weight: 500;
  transition: background 0.2s,color 0.2s;
  border: 1px solid transparent;
  position: relative;
  overflow: hidden;
}
.nav-link .material-symbols-outlined{
  font-size: 20px;
transition: color 0.2s;
}
.nav-link:hover{
  background-color: var(--bg-hover);
  color: var(--text-primary);
}
.nav-link.active{
background: var(--accent-dim);
color: var(--text-accent);
border-color: var(--border);
}
.nav-link.active .material-symbols-outlined{
  color: var(--accent-bright);
}
.sidebar-space{
  flex: 1;
}
.sidebar-profile{
  border-top: 1px solid var(--border-subtle);
  padding-top: 16px;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.profile-card{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 12px;
  border-radius: var(--radius-md);
  cursor: pointer;
  transition: background 0.2s;
}
.profile-card:hover{
  background: var(--bg-hover);
}
.profile-avatar{
  font-family: var(--font-display);
  color: #fff;
  width: 50px;
  height: 45px;
  border-radius: 50%;
  background: linear-gradient(135deg,#7c3aed,#a855f7,#c084fc);
}
.profile-name{
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-accent);
}
.profile-level{
  font-size: 0.6rem;
  color: var(--text-secondary);
  margin-top: 4px;
}

.sign-out{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 12px;
  border-radius: var(--radius-md);
  color: var(--text-muted);
  font-size: 0.8rem;
  font-weight: 500;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
}
.sign-out:hover{
  background: rgba(2239,68,0,0.08);
  color: #ef4444;
}

main{
  display: flex;
  flex-direction: row;
  height: 8vh;
  border-bottom: 1px solid var(--border-subtle);
}
.top-bar{
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 300px;
  width: 100%;
  padding: 18px 28px;
  background: var(--bg-nav);
  border-bottom: 1px solid var(--border-subtle);
  position: sticky;
  z-index: 1;
}
.right-sec{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 25px;
}
.search{
  width: 550px;
display: flex;
flex-direction: row;
background-color: var(--bg-card-hover);
align-items: center;
gap: 10px;
border: 1px solid var(--border-subtle);
border-radius: var(--radius-xl);
padding: 10px 18px;
transition: border-color 0.4s;

}
.search input{
  background-color: var(--bg-card-hover);
  border: none;
  font-size: 1.2rem;
  color: var(--text-primary);
  cursor: pointer;
}
.search input:focus{
  border: none;
  outline: none;
}
.right-sec .material-symbols-outlined{
  cursor: pointer;
}
.right-sec .material-symbols-outlined::after{
content: ' ';
background-color: var(--danger);
height: 8px;
width: 8px;
position: absolute;
top: 34%;
right: 28.5%;
border-radius: 50%;
}
.search .material-symbols-outlined,
.search input::placeholder{
  color: var(--text-secondary);
}



 .hero {
      background: linear-gradient(135deg, #1a0a38 0%, #2d0e5a 50%, #1a0831 100%);
      border: 1px solid var(--border);
      border-radius: var(--radius-xl);
      padding: 32px 36px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      /*حاسيتها طريقة غبية*/
      top: -630px;
      left: 320px;
      width:70rem;
      height: 350px;
    }
    .greeting-card{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 300px;
    }
    .greeting-title h1{
      margin-bottom: 8px;
    }
    .greeting-card span{
      background: linear-gradient(135deg ,#7c3aedea,#ae7ef6,#b66ff8);
      -webkit-background-clip: text;
      -webkit-text-fill-color:transparent;
    }
    .greeting-title p{
      color: var(--text-secondary);
      margin-left: 10px;
    }
    .streak-rank{
      display: flex;
      flex-direction: row;
      gap: 12px;
        color: var(--text-accent);
    }
    .level-sec{
      display: flex;
      flex-direction: column;
  gap: 5px;
    }
    .first-row-level{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 1060px;
      color: var(--text-accent);
    }
   .secound-row-level{
      border: 4px solid;
      border-radius: 10px;
   }

   .stats-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 16px;
    margin-left: 15px;
    height: 200px;
    position: absolute;
    top: 70%;
    left: 22%;
   }
   .state-card{
    background: var(--bg-card);
    border: 1px solid var(--border-subtle);
    border-radius: var(--radius-lg);
    padding: 20px;
    cursor: pointer;
    height: 150px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .state-card:hover{
    background: var(--bg-card-hover);
    border-color: var(--border);
    transform: translateY(-2px);
  }
  .state-card-top,.state{
    display: flex;
    justify-content: space-between;
  }
  .state-change{
    color: var(--success);
  }
  .state-icon{
    color: var(--accent-bright);
  }

  .recent-matches{
background-color: var(--bg-card);
    width: 95%;
    margin-left: 30px;
    border: 1px solid var(--text-muted);
    border-radius: 15px;
  }
  .panel-header{
    margin: 15px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  .panel-title{
    color: var(--text-accent);
    font-family: var(--font-body);
  }
  .panel-action{
background: none;
border: none;
color: var(--text-accent);
cursor: pointer;
  }
  .first-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 25px;
  }
  .item ,.match-info{
    display: flex;
    gap: 55px;
    margin: 15px;
  }
  .item{
    flex-direction: column;
    gap: 0;
    position: relative;
padding-left: 15px;
    height: 35px;
  }
  .item p{
    color: #4a3d63;
  }
  .item h5{
font-size: 1rem;
  }
 
.first-col{
  color: var(--accent);
  font-family: var(--font-display);
  font-size: 0.8rem;
}
.sec-col{
  color: #3f345f;
  font-size: 0.9rem;

}
.first-col.defeat{
  background-color: var(--text-muted);
  border-radius: 20%;
  height: 20px;
  width: 60px;
  text-align: center;
  color: var(--accent-bright);
  font-size: 0.8rem;
  font-family: var(--font-display);
  padding: 4px;
}
.thi-col{
  color: #22c55e;
}

  .item h5::before{
content: "";
position: absolute;
height: 35px;
width: 8px;
left: -8%;
top: -4%;
border-radius: 40%;
background: linear-gradient(135deg, #a722c5,#9e55b6);
  }